<div class="container">
  <%= link_to "back", companies_path,:class => "btn btn-primary custom_btn_small" %>
</div>
<% @plan=Poltype.where(:company_id => @company.id) %>
<% if @plan.count!=0 %>
  <div class="container">
    <h1 class="form-info">all the plans of the company: <%= @company.name %> </h1>
    <% @plan.each do |i| %>
      <div class="container show-box">
        <h2><%=i.name%></h2>
        <p><strong>description:</strong> <%=i.description%> </p><br>
        <p><strong>duration:</strong> <%=i.duration%> years <br></p>
        <p><strong>Insured Amount:</strong> <%=i.sum_insured%> INR <br></p>
        <p><strong>Premium Amount:</strong> <%=i.premium_amount%> INR<br></p>
        <td> <%= link_to "buy", new_policy_path(:company_id => i.company_id,:poltype_id => i.id),:class => "btn btn-primary custom_btn_small" %><td>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="container">
    <h1 class="form-info">there are no plans of the company: <%= @company.name %> </h1>
  </div>
<% end %>
