<div class="jumbotron" id="intro_admin">
  <h1>Hello, <%= @user_details.first_name%> </h1>
		
</div>
<div class="col-md-5" style="border:1px solid black; padding-top: 2%; margin: 2%; height: 250px;" >
  <h2>policy type </h2>
  <%= link_to "new policy type", new_poltype_path, :class => "btn btn-primary" %>
</div>
<div class="col-md-5" style="border:1px solid black; padding-top: 2%; margin: 2%; height: 250px;" >
  <h2>companies </h2>
  <%= link_to "new company", new_company_path, :class => "btn btn-primary" %>
  <%= link_to "view all companies",companies_path, :class => "btn btn-primary" %>
</div>
<div class="col-md-5" style="border:1px solid black; padding-top: 2%; margin: 2%; height: 250px;" >
  <h2>policies </h2>
  <%= link_to "new policy",policies_select_company_path, :class => "btn btn-primary" %>
  <%= link_to "all policies",policies_path, :class => "btn btn-primary" %>
</div>
<div class="col-md-5" style="border:1px solid black; padding-top: 2%; margin: 2%; height: 250px;" >
  <h2>users </h2>
  <%= link_to "all users",details_path, :class => "btn btn-primary" %>
</div>


 <%= stylesheet_link_tag 'dash' %>