<div class="container box-form">
  <% if user_signed_in? %>
    <% @user = current_user %>
    <%  @u_detail = @user.detail %>
    <% if @u_detail.admin != true %>
      <% @detail = Detail.find_by_user_id(current_user.id) %>
    <% end %>
    <%= simple_form_for @detail, :url => details_cupdate_path(:user_id => @detail.user_id) do |f| %>
      <% if @detail.errors.any? %>
        <div id="error_explanation" style="color: red;">
          <h2>
          <%= pluralize(@detail.errors.count, "error") %> prohibited
          this detail from being saved:
          </h2>
          <ul>
          <% @detail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.input :email, input_html: {value: @detail.email}, :label => "email"%>
      <%= f.input :user_id, input_html: {value: @detail.user_id}, :as => :hidden%>
      <%= f.input :first_name, input_html: {value: @detail.first_name}, :label => "First Name"%>
      <%= f.input :last_name, input_html: {value: @detail.last_name}, :label => "Last Name"%>
      <% if @detail.admin == true %>
        <%= f.input :admin, input_html: {value: 1}, :readonly => true,:as => :hidden %>
      <% else %>
        <%= f.input :admin, input_html: {value: 0}, :readonly => true,:as => :hidden %>
      <% end %>
      <%= f.input :contact_number, input_html: {value: @detail.contact_number}, :label => "Contact Number"%>
      <%= f.input :address, input_html: {value: @detail.address}, :label => "Address"%>
      <%= f.button :submit, 'update', :class => "btn btn-primary custom_btn_small" %>
    <% end %>
  <% else %>
    <p>user not signed in</p>
  <% end %>
</div>