<% @policies= Policy.all %>
<% if @u_detail.admin == true %>
  <% @pol = @policies %>
  <% else %>
  <% @pol=Policy.where(:user_id => @user.id) %>
  <% end %>
<div class="container" >
  <h2 class="form-info">Policies</h2>
  <p class="text-style">this list displays all the available policies bought by user. this list is only for viewing, to buy a policy from a specific company , please visit <strong>Policy --> Add new policy</strong> </p><br><br>                 
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th>holders name</th>
        <th>company name</th>
        <th>policy type</th>
        <th>sum insured</th>
        <th>premium amount</th>
        <th>commission</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @pol.each do |i| %>
    <% @usr=User.find(i.user_id) %>
    <% @detail= @usr.detail %>
    <% @company=Company.find(i.company_id) %>
    <% @poltype=Poltype.find(i.poltype_id) %>
      <tr>
      <% @pol_id = i.id %>
      <% @u_id = current_user.id %>
       <td><%=@detail.first_name%> <%= @detail.last_name%></td>
        <td><%=@company.name%></td>
        <td><%=i.policy_type%></td>
        <td><%=i.sum_insured%></td>
        <td><%=i.premium_amount%></td>
        <td><%=i.commission%></td>
         <td><%= link_to "display", policies_display_path(:id => i.id),:class => "btn btn-primary custom_btn_small" %></td>
          <td><%= link_to "comments", comments_path(:id => i.id),:class => "btn btn-primary custom_btn_small" %></td>
      </tr>

      <% end %>
    </tbody>
  </table>
  </div>


