<% @policies= Policy.all %>
<% if @u_detail.admin == true %>
  <% @pol = @policies %>
  <% else %>
  <% @pol=Policy.where(:user_id => @user.id) %>
  <% end %>
<div class="container" >
  <h2>all policies</h2>
  <p>all the policies</p>            
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th>holders name</th>
        <th>company name</th>
        <th>policy type</th>
        <th>description</th>
        <th>sum insured</th>
        <th>premium amount</th>
        <th>commission</th>
        <th>purchase date</th>
        <th>mature date</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @pol.each do |i| %>
    <% @usr=User.find(i.user_id) %>
    <% @detail= @usr.detail %>
    <% @company=Company.find(i.company_id) %>
    <% @poltype=Poltype.find(i.poltype_id) %>
      <tr>
      <td><%=@detail.first_name%> <%= @detail.last_name%></td>
        <td><%=@company.name%></td>
        <td><%=i.policy_type%></td>
        <td><%=i.description%></td>
        <td><%=i.sum_insured%></td>
        <td><%=i.premium_amount%></td>
        <td><%=i.commission%></td>
        <td><%=i.purchase_date%></td>
        <td><%=i.mature_date%></td>
        <% if @u_detail.admin == true %>
        <td><%= link_to "edit", edit_policy_path(i), :class => "btn btn-primary custom_btn_small" %></td>
         <td><%= link_to 'Destroy', policy_path(i),
              method: :delete,
              data: { confirm: 'Are you sure?' } , :class => "btn btn-primary custom_btn_small"%></td>
              <% end %>
      </tr>

      <% end %>
    </tbody>
  </table>
  </div>

 