<%= @c_id %>
<%= @p_id %>
<% @company= Company.find(@c_id) %>
<% @plan = Poltype.find(@p_id) %>
<div class="container" style="max-width: 50%; align-self: center;">
<%= simple_form_for @policy do |f| %>

	<%= f.input :holder_name, placeholder: 'holder name' %>
	<%= f.input :description, placeholder: 'description' %>
	<%= f.input :sum_insured, input_html: {value: @plan.sum_insured}, :readonly => true %>
	<%= f.input :premium_amount, input_html: {value: @plan.premium_amount}, :readonly => true %>
	<%= f.input :commission, label: "commission" %>
	<%= f.input :purchase_date, label: "purchase date" %>
	<%= f.input :mature_date, label: "mature date" %>
	<%= f.input :premium_amount, input_html: {value: @plan.premium_amount}, :readonly => true %>
	<%= f.input :company_id, input_html: {value: @c_id}, :readonly => true, :as => :hidden %>
	<%= f.input :user_id,:collection => @alluserdetail,:label_method => :first_name,:value_method => :id,:label => "user name"%>
	<%= f.input :poltype_id, input_html: {value: @c_id}, :readonly => true, :as => :hidden  %>
	<%= f.input :policy_type, input_html: {value: @plan.name}, :readonly => true %>

	<%= f.submit "create policy type" %>
<% end %>
</div>